# DataScienceEcosystem.ipynb

In this notebook, Data Science Tools and Ecosystem are summarized. Week 4 of Module 2.

**Objectives:**
- Languages
- Libraries
- Tools
- Arithmetic

### Languages
1. Python
2. Swift
3. R
4. SQL
5. Scala

### Libraries
1. ggplot
2. stringer
3. dplyr
4. caret
5. numpy

| Tools        |
| ------------ |
| IBM Watson S |
| RStudio      |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# this code converts 200 mins into hours
min = 200.00
hours = min/60
print(hours)

3.3333333333333335

## Author:
Steve M